In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={
    'name':['saurav','hgari','satis'],
    'age':[1,4,7],
    'address':['sunwal','butwal','khaireni']
}

In [3]:
list = [1,2,3]
df = pd.DataFrame(dict1)
df

     name  age   address
0  saurav    1    sunwal
1   hgari    4    butwal
2   satis    7  khaireni

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

     name  age   address
0  saurav    1    sunwal
1   hgari    4    butwal
2   satis    7  khaireni

In [6]:
df.to_csv('eaxport.csv')

In [7]:
df.head(3)

     name  age   address
0  saurav    1    sunwal
1   hgari    4    butwal
2   satis    7  khaireni

In [8]:
df.describe()

       age
count  3.0
mean   4.0
std    3.0
min    1.0
25%    2.5
50%    4.0
75%    5.5
max    7.0

In [9]:
harry = pd.read_csv('Data.csv')

In [10]:
harry

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,ECTA.S19A1,2001.03,2462.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
1,ECTA.S19A1,2002.03,17177.2,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
2,ECTA.S19A1,2003.03,22530.5,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
3,ECTA.S19A1,2004.03,28005.1,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
4,ECTA.S19A1,2005.03,30629.6,NaN,F,Dollars,6,Electronic Card Transactions (ANZSIC06) - ECT,Total values - Electronic card transactions A/...,Actual,RTS total industries,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,ECTQ.S4AXP,2021.12,33.3,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
19231,ECTQ.S4AXP,2022.03,33.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
19232,ECTQ.S4AXP,2022.06,33.5,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
19233,ECTQ.S4AXP,2022.09,33.2,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN
19234,ECTQ.S4AXP,2022.12,32.7,NaN,F,Percent,0,Electronic Card Transactions (ANZSIC06) - ECT,Electronic card transactions by mean and propo...,Actual,Debit card usage as a proportion of total ECT ...,Proportion (%),NaN,NaN

In [11]:
harry['Series_reference'][4]='dfkjjkfd'

/var/folders/61/r_vs5l1j7m91kw2v12g_zjsr0000gn/T/ipykernel_9192/4219283772.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harry['Series_reference'][4]='dfkjjkfd'

In [12]:
harry['Series_reference'][1]

'ECTA.S19A1'

In [13]:
df.index=['first', 'second','third']

In [14]:
df

          name  age   address
first   saurav    1    sunwal
second   hgari    4    butwal
third    satis    7  khaireni

In [15]:
ser = pd.Series(np.random.randint(0,6,7))

In [16]:
ser

0    1
1    2
2    0
3    2
4    4
5    1
6    4
dtype: int64

In [17]:
np.random.randint(8)

5

In [18]:
newdf = pd.DataFrame(np.random.rand(35,6))

In [19]:
newdf

           0         1         2         3         4         5
0   0.508933  0.349041  0.730155  0.096438  0.939372  0.664064
1   0.606476  0.262465  0.677674  0.878976  0.248201  0.873456
2   0.978360  0.698075  0.713358  0.427372  0.035570  0.905797
3   0.491030  0.285323  0.624677  0.756481  0.235761  0.347881
4   0.165520  0.481862  0.376944  0.056456  0.248232  0.512620
5   0.067383  0.220561  0.871953  0.170010  0.597313  0.771866
6   0.438137  0.682327  0.183307  0.819882  0.134198  0.349148
7   0.118859  0.287730  0.895214  0.035931  0.565015  0.068839
8   0.569022  0.732525  0.299837  0.333396  0.939860  0.839993
9   0.097105  0.845114  0.817989  0.877031  0.621269  0.116610
10  0.127988  0.530361  0.016902  0.342203  0.078022  0.504665
11  0.781920  0.131610  0.781579  0.931722  0.059571  0.817839
12  0.667727  0.698335  0.357203  0.713297  0.350353  0.912673
13  0.906500  0.749929  0.916955  0.042690  0.713631  0.548403
14  0.229632  0.363976  0.251000  0.891703  0.897197  0.685023
15  0.818594  0.118000  0.079232  0.762193  0.092942  0.260790
16  0.318557  0.649890  0.757971  0.371866  0.360362  0.169198
17  0.489154  0.382632  0.617915  0.135505  0.566699  0.381863
18  0.381940  0.322968  0.542489  0.477029  0.917586  0.360069
19  0.674331  0.220373  0.716764  0.437585  0.567252  0.394746
20  0.090925  0.082623  0.939744  0.505883  0.274559  0.961155
21  0.625090  0.735196  0.168779  0.936296  0.039413  0.005395
22  0.736379  0.034590  0.218270  0.611325  0.491771  0.543775
23  0.171495  0.095416  0.679231  0.302136  0.289659  0.652396
24  0.728213  0.401698  0.839424  0.627166  0.806312  0.201738
25  0.257346  0.165108  0.621274  0.694731  0.476540  0.087275
26  0.868601  0.475435  0.776966  0.192925  0.350885  0.310925
27  0.456301  0.682667  0.473480  0.067119  0.009532  0.450785
28  0.347830  0.491539  0.529798  0.236265  0.354291  0.533173
29  0.472342  0.574684  0.130486  0.780370  0.526021  0.898648
30  0.369279  0.220472  0.082060  0.807977  0.902709  0.225890
31  0.073846  0.007613  0.293794  0.203110  0.112219  0.787929
32  0.660164  0.279865  0.233724  0.960609  0.558558  0.787139
33  0.317383  0.737628  0.340448  0.071343  0.218593  0.798690
34  0.604358  0.022051  0.217451  0.510562  0.860890  0.104628

In [20]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [21]:
newdf[0][0]='saurav'

In [22]:
newdf

           0         1         2         3         4         5
0     saurav  0.349041  0.730155  0.096438  0.939372  0.664064
1   0.606476  0.262465  0.677674  0.878976  0.248201  0.873456
2    0.97836  0.698075  0.713358  0.427372  0.035570  0.905797
3    0.49103  0.285323  0.624677  0.756481  0.235761  0.347881
4    0.16552  0.481862  0.376944  0.056456  0.248232  0.512620
5   0.067383  0.220561  0.871953  0.170010  0.597313  0.771866
6   0.438137  0.682327  0.183307  0.819882  0.134198  0.349148
7   0.118859  0.287730  0.895214  0.035931  0.565015  0.068839
8   0.569022  0.732525  0.299837  0.333396  0.939860  0.839993
9   0.097105  0.845114  0.817989  0.877031  0.621269  0.116610
10  0.127988  0.530361  0.016902  0.342203  0.078022  0.504665
11   0.78192  0.131610  0.781579  0.931722  0.059571  0.817839
12  0.667727  0.698335  0.357203  0.713297  0.350353  0.912673
13    0.9065  0.749929  0.916955  0.042690  0.713631  0.548403
14  0.229632  0.363976  0.251000  0.891703  0.897197  0.685023
15  0.818594  0.118000  0.079232  0.762193  0.092942  0.260790
16  0.318557  0.649890  0.757971  0.371866  0.360362  0.169198
17  0.489154  0.382632  0.617915  0.135505  0.566699  0.381863
18   0.38194  0.322968  0.542489  0.477029  0.917586  0.360069
19  0.674331  0.220373  0.716764  0.437585  0.567252  0.394746
20  0.090925  0.082623  0.939744  0.505883  0.274559  0.961155
21   0.62509  0.735196  0.168779  0.936296  0.039413  0.005395
22  0.736379  0.034590  0.218270  0.611325  0.491771  0.543775
23  0.171495  0.095416  0.679231  0.302136  0.289659  0.652396
24  0.728213  0.401698  0.839424  0.627166  0.806312  0.201738
25  0.257346  0.165108  0.621274  0.694731  0.476540  0.087275
26  0.868601  0.475435  0.776966  0.192925  0.350885  0.310925
27  0.456301  0.682667  0.473480  0.067119  0.009532  0.450785
28   0.34783  0.491539  0.529798  0.236265  0.354291  0.533173
29  0.472342  0.574684  0.130486  0.780370  0.526021  0.898648
30  0.369279  0.220472  0.082060  0.807977  0.902709  0.225890
31  0.073846  0.007613  0.293794  0.203110  0.112219  0.787929
32  0.660164  0.279865  0.233724  0.960609  0.558558  0.787139
33  0.317383  0.737628  0.340448  0.071343  0.218593  0.798690
34  0.604358  0.022051  0.217451  0.510562  0.860890  0.104628

In [23]:
ser[0]='abc'

In [24]:
ser.index

RangeIndex(start=0, stop=7, step=1)

In [25]:
newdf.index

RangeIndex(start=0, stop=35, step=1)

In [26]:
newdf.columns

RangeIndex(start=0, stop=6, step=1)

In [27]:
newdf.to_numpy()

array([['saurav', 0.3490407545446398, 0.7301549490067172,
        0.09643792963455988, 0.9393718260921486, 0.6640643960729959],
       [0.6064757923251005, 0.26246499637786835, 0.677673728501471,
        0.8789763999931973, 0.2482011234334941, 0.8734559686333473],
       [0.9783597876168951, 0.6980748270843019, 0.7133577610031924,
        0.42737238563207136, 0.03557027027766113, 0.9057973510525138],
       [0.491029785729005, 0.2853226592660616, 0.6246773878277012,
        0.7564811292041137, 0.23576126434277933, 0.3478806182105656],
       [0.1655195133503511, 0.48186154619343236, 0.37694447969635636,
        0.0564563542102795, 0.24823198992642947, 0.5126199927258027],
       [0.06738296384388054, 0.2205607914101596, 0.8719527112210622,
        0.17000996650378308, 0.5973125725199586, 0.7718657777815053],
       [0.4381374022821365, 0.6823269068937621, 0.1833072189112035,
        0.8198815666658797, 0.13419816171912013, 0.3491475244470389],
       [0.11885893138334658, 0.2877299957064744, 0.8952144552303619,
        0.0359308738983678, 0.5650149230114601, 0.06883913563573174],
       [0.569022304587383, 0.7325246808505486, 0.2998366963176131,
        0.33339606207126626, 0.9398604667234859, 0.8399932733256052],
       [0.097104772101677, 0.8451140986296796, 0.8179890849501795,
        0.8770313860684701, 0.6212690589117171, 0.11661010351510925],
       [0.12798785642325516, 0.5303605999897936, 0.01690234884245001,
        0.3422026997952414, 0.07802204350100195, 0.5046646816582944],
       [0.781920413045814, 0.1316100035318396, 0.7815793604578546,
        0.9317221950011446, 0.05957097025763647, 0.8178391036893796],
       [0.6677268548309672, 0.6983348129096523, 0.35720275912136856,
        0.7132970413886368, 0.35035275120209375, 0.9126732832173272],
       [0.9065001022628242, 0.7499287686434724, 0.9169545588486168,
        0.04268965750386711, 0.7136307739350529, 0.5484034771593363],
       [0.2296322668323264, 0.3639764811905335, 0.25100020357678476,
        0.8917032009879923, 0.8971967050054779, 0.6850229255791781],
       [0.8185938675203895, 0.1180002796800308, 0.07923213971222298,
        0.7621933519122555, 0.09294244072706648, 0.26078963640599717],
       [0.3185573496698595, 0.649889785652976, 0.7579713201011109,
        0.37186600007004944, 0.3603622457936637, 0.16919833699764597],
       [0.4891544325545861, 0.38263203620139596, 0.6179149000189001,
        0.13550518590671123, 0.5666993134542546, 0.38186279709318904],
       [0.3819399867592961, 0.32296799796342324, 0.5424894198371347,
        0.4770286693035406, 0.917585757639433, 0.36006898597869497],
       [0.674330950927977, 0.2203725480183064, 0.7167636022688648,
        0.43758496902312694, 0.5672517138963916, 0.39474601820317035],
       [0.090924789861619, 0.08262259940406669, 0.9397444011734114,
        0.5058831685466203, 0.27455874524672363, 0.9611547018223585],
       [0.6250897100006308, 0.7351959401859014, 0.16877935227037433,
        0.9362964870170235, 0.039412720824313796, 0.005395079652198986],
       [0.7363792018635711, 0.034590367130823196, 0.21827031561555155,
        0.6113245942010513, 0.4917706595512439, 0.5437753929802771],
       [0.1714954918917858, 0.09541646299941953, 0.6792307296980122,
        0.3021359022523259, 0.2896590205048255, 0.6523957377069621],
       [0.7282132339673862, 0.40169802913186214, 0.8394243268882517,
        0.6271655797001618, 0.8063121211041591, 0.20173799522735758],
       [0.257345766086995, 0.1651081286386078, 0.6212740378938122,
        0.6947313764801395, 0.47653996116717123, 0.08727537428829235],
       [0.8686005304939509, 0.475435249135554, 0.7769655096446518,
        0.19292530472655955, 0.35088468909759407, 0.3109246335689442],
       [0.4563011818029018, 0.682666903272055, 0.4734796284764444,
        0.06711893517311429, 0.009532340141152118, 0.45078516523954926],
       [0.3478302077006705, 0.4915393619410926, 0.5297980002825549,
        0.23626501269950528, 0.3542914458949896, 0.5331733165640836],
       [0.47234196797315964, 0.5746836485423021, 0.13048558200728555,
        0.7803703441232875, 0.526020971650542, 0.8986484957281594],
       [0.3692785342713104, 0.22047238486596654, 0.08205988526375352,
        0.8079765852344377, 0.9027086756596554, 0.22588990387900054],
       [0.07384622205343383, 0.007612962127987011, 0.293793644863249,
        0.20311003957366336, 0.11221942315189426, 0.7879293729810811],
       [0.660163848774205, 0.27986487741659394, 0.2337235447437197,
        0.9606085634585159, 0.5585580123445063, 0.7871389379016376],
       [0.31738340020188693, 0.7376279911455242, 0.34044837250886595,
        0.07134339875206264, 0.21859294564267417, 0.7986895727909247],
       [0.604358185126421, 0.02205113124889435, 0.21745065176093714,
        0.5105624852204768, 0.8608897185283061, 0.10462817152090709]],
      dtype=object)

In [28]:
newdf.head()

          0         1         2         3         4         5
0    saurav  0.349041  0.730155  0.096438  0.939372  0.664064
1  0.606476  0.262465  0.677674  0.878976  0.248201  0.873456
2   0.97836  0.698075  0.713358  0.427372  0.035570  0.905797
3   0.49103  0.285323  0.624677  0.756481  0.235761  0.347881
4   0.16552  0.481862  0.376944  0.056456  0.248232  0.512620

In [29]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,saurav,0.606476,0.97836,0.49103,0.16552,0.067383,0.438137,0.118859,0.569022,0.097105,...,0.257346,0.868601,0.456301,0.34783,0.472342,0.369279,0.073846,0.660164,0.317383,0.604358
1,0.349041,0.262465,0.698075,0.285323,0.481862,0.220561,0.682327,0.28773,0.732525,0.845114,...,0.165108,0.475435,0.682667,0.491539,0.574684,0.220472,0.007613,0.279865,0.737628,0.022051
2,0.730155,0.677674,0.713358,0.624677,0.376944,0.871953,0.183307,0.895214,0.299837,0.817989,...,0.621274,0.776966,0.47348,0.529798,0.130486,0.08206,0.293794,0.233724,0.340448,0.217451
3,0.096438,0.878976,0.427372,0.756481,0.056456,0.17001,0.819882,0.035931,0.333396,0.877031,...,0.694731,0.192925,0.067119,0.236265,0.78037,0.807977,0.20311,0.960609,0.071343,0.510562
4,0.939372,0.248201,0.03557,0.235761,0.248232,0.597313,0.134198,0.565015,0.93986,0.621269,...,0.47654,0.350885,0.009532,0.354291,0.526021,0.902709,0.112219,0.558558,0.218593,0.86089
5,0.664064,0.873456,0.905797,0.347881,0.51262,0.771866,0.349148,0.068839,0.839993,0.11661,...,0.087275,0.310925,0.450785,0.533173,0.898648,0.22589,0.787929,0.787139,0.79869,0.104628

In [30]:
newdf.head()

          0         1         2         3         4         5
0    saurav  0.349041  0.730155  0.096438  0.939372  0.664064
1  0.606476  0.262465  0.677674  0.878976  0.248201  0.873456
2   0.97836  0.698075  0.713358  0.427372  0.035570  0.905797
3   0.49103  0.285323  0.624677  0.756481  0.235761  0.347881
4   0.16552  0.481862  0.376944  0.056456  0.248232  0.512620

In [31]:
newdf.sort_index(axis=1, ascending=False)

           5         4         3         2         1         0
0   0.664064  0.939372  0.096438  0.730155  0.349041    saurav
1   0.873456  0.248201  0.878976  0.677674  0.262465  0.606476
2   0.905797  0.035570  0.427372  0.713358  0.698075   0.97836
3   0.347881  0.235761  0.756481  0.624677  0.285323   0.49103
4   0.512620  0.248232  0.056456  0.376944  0.481862   0.16552
5   0.771866  0.597313  0.170010  0.871953  0.220561  0.067383
6   0.349148  0.134198  0.819882  0.183307  0.682327  0.438137
7   0.068839  0.565015  0.035931  0.895214  0.287730  0.118859
8   0.839993  0.939860  0.333396  0.299837  0.732525  0.569022
9   0.116610  0.621269  0.877031  0.817989  0.845114  0.097105
10  0.504665  0.078022  0.342203  0.016902  0.530361  0.127988
11  0.817839  0.059571  0.931722  0.781579  0.131610   0.78192
12  0.912673  0.350353  0.713297  0.357203  0.698335  0.667727
13  0.548403  0.713631  0.042690  0.916955  0.749929    0.9065
14  0.685023  0.897197  0.891703  0.251000  0.363976  0.229632
15  0.260790  0.092942  0.762193  0.079232  0.118000  0.818594
16  0.169198  0.360362  0.371866  0.757971  0.649890  0.318557
17  0.381863  0.566699  0.135505  0.617915  0.382632  0.489154
18  0.360069  0.917586  0.477029  0.542489  0.322968   0.38194
19  0.394746  0.567252  0.437585  0.716764  0.220373  0.674331
20  0.961155  0.274559  0.505883  0.939744  0.082623  0.090925
21  0.005395  0.039413  0.936296  0.168779  0.735196   0.62509
22  0.543775  0.491771  0.611325  0.218270  0.034590  0.736379
23  0.652396  0.289659  0.302136  0.679231  0.095416  0.171495
24  0.201738  0.806312  0.627166  0.839424  0.401698  0.728213
25  0.087275  0.476540  0.694731  0.621274  0.165108  0.257346
26  0.310925  0.350885  0.192925  0.776966  0.475435  0.868601
27  0.450785  0.009532  0.067119  0.473480  0.682667  0.456301
28  0.533173  0.354291  0.236265  0.529798  0.491539   0.34783
29  0.898648  0.526021  0.780370  0.130486  0.574684  0.472342
30  0.225890  0.902709  0.807977  0.082060  0.220472  0.369279
31  0.787929  0.112219  0.203110  0.293794  0.007613  0.073846
32  0.787139  0.558558  0.960609  0.233724  0.279865  0.660164
33  0.798690  0.218593  0.071343  0.340448  0.737628  0.317383
34  0.104628  0.860890  0.510562  0.217451  0.022051  0.604358

In [32]:
newdf[2][3]

0.6246773878277012

In [33]:
newdf.loc[0,1]

0.3490407545446398

In [34]:
newdf[0][2]

0.9783597876168951

In [35]:
newdf.loc[0,1]= 66

In [36]:
newdf

           0          1         2         3         4         5
0     saurav  66.000000  0.730155  0.096438  0.939372  0.664064
1   0.606476   0.262465  0.677674  0.878976  0.248201  0.873456
2    0.97836   0.698075  0.713358  0.427372  0.035570  0.905797
3    0.49103   0.285323  0.624677  0.756481  0.235761  0.347881
4    0.16552   0.481862  0.376944  0.056456  0.248232  0.512620
5   0.067383   0.220561  0.871953  0.170010  0.597313  0.771866
6   0.438137   0.682327  0.183307  0.819882  0.134198  0.349148
7   0.118859   0.287730  0.895214  0.035931  0.565015  0.068839
8   0.569022   0.732525  0.299837  0.333396  0.939860  0.839993
9   0.097105   0.845114  0.817989  0.877031  0.621269  0.116610
10  0.127988   0.530361  0.016902  0.342203  0.078022  0.504665
11   0.78192   0.131610  0.781579  0.931722  0.059571  0.817839
12  0.667727   0.698335  0.357203  0.713297  0.350353  0.912673
13    0.9065   0.749929  0.916955  0.042690  0.713631  0.548403
14  0.229632   0.363976  0.251000  0.891703  0.897197  0.685023
15  0.818594   0.118000  0.079232  0.762193  0.092942  0.260790
16  0.318557   0.649890  0.757971  0.371866  0.360362  0.169198
17  0.489154   0.382632  0.617915  0.135505  0.566699  0.381863
18   0.38194   0.322968  0.542489  0.477029  0.917586  0.360069
19  0.674331   0.220373  0.716764  0.437585  0.567252  0.394746
20  0.090925   0.082623  0.939744  0.505883  0.274559  0.961155
21   0.62509   0.735196  0.168779  0.936296  0.039413  0.005395
22  0.736379   0.034590  0.218270  0.611325  0.491771  0.543775
23  0.171495   0.095416  0.679231  0.302136  0.289659  0.652396
24  0.728213   0.401698  0.839424  0.627166  0.806312  0.201738
25  0.257346   0.165108  0.621274  0.694731  0.476540  0.087275
26  0.868601   0.475435  0.776966  0.192925  0.350885  0.310925
27  0.456301   0.682667  0.473480  0.067119  0.009532  0.450785
28   0.34783   0.491539  0.529798  0.236265  0.354291  0.533173
29  0.472342   0.574684  0.130486  0.780370  0.526021  0.898648
30  0.369279   0.220472  0.082060  0.807977  0.902709  0.225890
31  0.073846   0.007613  0.293794  0.203110  0.112219  0.787929
32  0.660164   0.279865  0.233724  0.960609  0.558558  0.787139
33  0.317383   0.737628  0.340448  0.071343  0.218593  0.798690
34  0.604358   0.022051  0.217451  0.510562  0.860890  0.104628

In [ ]:
list(range(10))

In [37]:
newdf.columns=list('ABCDEF')

TypeError: 'list' object is not callable

In [38]:
newdf.drop(4)

           0          1         2         3         4         5
0     saurav  66.000000  0.730155  0.096438  0.939372  0.664064
1   0.606476   0.262465  0.677674  0.878976  0.248201  0.873456
2    0.97836   0.698075  0.713358  0.427372  0.035570  0.905797
3    0.49103   0.285323  0.624677  0.756481  0.235761  0.347881
5   0.067383   0.220561  0.871953  0.170010  0.597313  0.771866
6   0.438137   0.682327  0.183307  0.819882  0.134198  0.349148
7   0.118859   0.287730  0.895214  0.035931  0.565015  0.068839
8   0.569022   0.732525  0.299837  0.333396  0.939860  0.839993
9   0.097105   0.845114  0.817989  0.877031  0.621269  0.116610
10  0.127988   0.530361  0.016902  0.342203  0.078022  0.504665
11   0.78192   0.131610  0.781579  0.931722  0.059571  0.817839
12  0.667727   0.698335  0.357203  0.713297  0.350353  0.912673
13    0.9065   0.749929  0.916955  0.042690  0.713631  0.548403
14  0.229632   0.363976  0.251000  0.891703  0.897197  0.685023
15  0.818594   0.118000  0.079232  0.762193  0.092942  0.260790
16  0.318557   0.649890  0.757971  0.371866  0.360362  0.169198
17  0.489154   0.382632  0.617915  0.135505  0.566699  0.381863
18   0.38194   0.322968  0.542489  0.477029  0.917586  0.360069
19  0.674331   0.220373  0.716764  0.437585  0.567252  0.394746
20  0.090925   0.082623  0.939744  0.505883  0.274559  0.961155
21   0.62509   0.735196  0.168779  0.936296  0.039413  0.005395
22  0.736379   0.034590  0.218270  0.611325  0.491771  0.543775
23  0.171495   0.095416  0.679231  0.302136  0.289659  0.652396
24  0.728213   0.401698  0.839424  0.627166  0.806312  0.201738
25  0.257346   0.165108  0.621274  0.694731  0.476540  0.087275
26  0.868601   0.475435  0.776966  0.192925  0.350885  0.310925
27  0.456301   0.682667  0.473480  0.067119  0.009532  0.450785
28   0.34783   0.491539  0.529798  0.236265  0.354291  0.533173
29  0.472342   0.574684  0.130486  0.780370  0.526021  0.898648
30  0.369279   0.220472  0.082060  0.807977  0.902709  0.225890
31  0.073846   0.007613  0.293794  0.203110  0.112219  0.787929
32  0.660164   0.279865  0.233724  0.960609  0.558558  0.787139
33  0.317383   0.737628  0.340448  0.071343  0.218593  0.798690
34  0.604358   0.022051  0.217451  0.510562  0.860890  0.104628

In [39]:
newdf['A'][1]=567

KeyError: 'A'

In [40]:
newdf.iloc[2,0]

0.9783597876168951

In [45]:
newdf.loc[3, :]= 456 #to chnge the row value
newdf.loc[:,1] = 546 #to change the whole column value

In [46]:
newdf

      0    1           2           3           4           5
0   456  546    0.730155    0.096438    0.939372    0.664064
1   456  546    0.677674    0.878976    0.248201    0.873456
2   456  546    0.713358    0.427372    0.035570    0.905797
3   456  546  456.000000  456.000000  456.000000  456.000000
4   456  546    0.376944    0.056456    0.248232    0.512620
5   456  546    0.871953    0.170010    0.597313    0.771866
6   456  546    0.183307    0.819882    0.134198    0.349148
7   456  546    0.895214    0.035931    0.565015    0.068839
8   456  546    0.299837    0.333396    0.939860    0.839993
9   456  546    0.817989    0.877031    0.621269    0.116610
10  456  546    0.016902    0.342203    0.078022    0.504665
11  456  546    0.781579    0.931722    0.059571    0.817839
12  456  546    0.357203    0.713297    0.350353    0.912673
13  456  546    0.916955    0.042690    0.713631    0.548403
14  456  546    0.251000    0.891703    0.897197    0.685023
15  456  546    0.079232    0.762193    0.092942    0.260790
16  456  546    0.757971    0.371866    0.360362    0.169198
17  456  546    0.617915    0.135505    0.566699    0.381863
18  456  546    0.542489    0.477029    0.917586    0.360069
19  456  546    0.716764    0.437585    0.567252    0.394746
20  456  546    0.939744    0.505883    0.274559    0.961155
21  456  546    0.168779    0.936296    0.039413    0.005395
22  456  546    0.218270    0.611325    0.491771    0.543775
23  456  546    0.679231    0.302136    0.289659    0.652396
24  456  546    0.839424    0.627166    0.806312    0.201738
25  456  546    0.621274    0.694731    0.476540    0.087275
26  456  546    0.776966    0.192925    0.350885    0.310925
27  456  546    0.473480    0.067119    0.009532    0.450785
28  456  546    0.529798    0.236265    0.354291    0.533173
29  456  546    0.130486    0.780370    0.526021    0.898648
30  456  546    0.082060    0.807977    0.902709    0.225890
31  456  546    0.293794    0.203110    0.112219    0.787929
32  456  546    0.233724    0.960609    0.558558    0.787139
33  456  546    0.340448    0.071343    0.218593    0.798690
34  456  546    0.217451    0.510562    0.860890    0.104628

In [ ]:
newdf.info()

In [ ]:
newdf[4:8]

In [ ]:
newdf.columns

In [ ]:
newdf =newdf.drop('A', axis=1) #to drop the column (above we have the A column in the df dataset so we allocated the string for 'A' and for integer we represent only the number)
newdf= newdf.drop(2, axis=0)  #to drop the row

In [ ]:
newdf

In [ ]:
newdf[[0,1,3]]

In [ ]:
df = pd.DataFrame(np.random.rand(3,4))

In [ ]:
newdf = df.copy()

In [ ]:
newdf[0][1]=555

In [ ]:
newdf

In [ ]:
df

In [ ]:
pd.read_csv('Data.csv')

In [ ]:
weather_data = [('32/4/2022', 32,4,'sunny'),('32/4/2022', 32,4,'sunny')] #tuples list
weather_data = [{'32/4/2022', 32,4,'sunny'},{'32/4/2022', 32,4,'sunny'}] #dictionary list
weather_data = [['32/4/2022', 32,4,'sunny'],['32/4/2022', 32,4,'sunny']] #2d list
list=[[2,4], [5,6]]
print(weather_data)

In [ ]:
weather_data1 ={
    'days':['32/4/2012','23/4/2022', '4/5/6'],
    'temperatiure':[34,36,57],
    'wind':[3,46,78],
    'weather':['Sunny','hot','cold']
}
pd.DataFrame(weather_data1)

In [ ]:
pd.DataFrame(weather_data, columns=['days', 'temperature', 'wind', 'weather'])

In [ ]:
pd.DataFrame(list)

In [ ]:
weather_data1 ={
    'days':['32/4/2012','23/4/2022', '4/5/6'],
    'temperatiure':[34,36,57],
    'wind':[3,46,78],
    'weather':['Sunny','hot','cold']
}

In [ ]:
pd.DataFrame(weather_data1)

In [ ]:
newdf = df.replace('Sunny', np.NaN)

In [ ]:
newdf